<%
label_color = 'success'
label_color = 'danger' if route.method.include?('DELETE')
label_color = 'info' if route.method.include?('PUT')
label_color = 'warning' if route.method.include?('POST')
%>
<div class="well" id="<%= route_counter %>">
  <div class="container-fluid">
    <div class="row">

      <h4 class="form-inline">
        <div class="btn btn-<%= label_color %> request" data-method="<%= route.method %>" data-index="<%= route_counter %>">
          <%= route.method %>
        </div>
        <div class="form-group">
          <input type="text" class="form-control path" value=<%= route.path %> />
        </div>

      </h4>
    </div>

    <% if !route.method.include?('GET') %>
    <div class="form-group">
      <label>Post Data</label>
      <textarea class="post-data form-control" type="text"></textarea>
    </div>
    <% end %>

    <div class="response"></div>

  </div>

</div>
